@font-face {
    font-family: "InterReg";
    src: url("../../assets/fonts//Inter-Regular.otf");
    font-display: swap;
  }

@font-face {
font-family: "InterExtLight";
src: url("../../assets/fonts//Inter-ExtraLight-BETA.otf");
font-display: swap;
}
@font-face {
    font-family: "InterBold";
    src: url("../../assets/fonts//Inter-SemiBold.otf");
    font-display: swap;
}


.container{
    width: 30%;
    height: 180px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.container:hover{
    color: white;
    background-color: #386CE2;
    transition: background-color 0.5s ease-in;
}

.left{
    width: 70%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.leftinner{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.left p{
    margin-top: 12px;
    font-family: InterExtLight;
    font-size: 10px;
}

.left h4{
    margin-top: 12px;
    font-family: InterReg;
    font-size: 10px;
}

.left h1{
    margin-top: 12px;
    font-size: 25px;
    font-family: InterBold;
}

.right{
    /* border: 1px solid green; */
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.rightinner{
    height: 90px;
    /* border: 1px solid blue; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 5px;
    color: white;
}

@media only screen and (max-width: 800px){
    .container{
        width: 90%;
    }
}