@font-face {
    font-family: "InterReg";
    src: url("../../assets/fonts//Inter-Regular.otf");
    font-display: swap;
  }

@font-face {
    font-family: "InterExtLight";
    src: url("../../assets/fonts//Inter-ExtraLight-BETA.otf");
    font-display: swap;
}
@font-face {
    font-family: "InterBold";
    src: url("../../assets/fonts//Inter-SemiBold.otf");
    font-display: swap;
}

.chart{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 300px;
}

.words{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.words p{
    font-family: InterBold;
    color: #01133C89;
    margin-left: 30px
}

.words h1{
    font-family: InterBold;
    margin-left: 30px;
}

@media only screen and (max-width: 800px){
    .chart{
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        height: 300px;
    }
    .words p{
        font-size: 9px;
    }
    .words h1{
        font-size: 17px;
    }
}