@font-face {
    font-family: "InterReg";
    src: url("../../assets/fonts//Inter-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: "InterExtLight";
    src: url("../../assets/fonts//Inter-ExtraLight-BETA.otf");
    font-display: swap;
}

@font-face {
    font-family: "InterBold";
    src: url("../../assets/fonts//Inter-SemiBold.otf");
    font-display: swap;
}

/* body{
    background-color: #F0F3F5;
} */

.vehiclemain{
    display: flex;
    flex-direction: row;
}
.vehmain{
    /* background-color: #F0F3F5; */
    width: 90%;
    /* height: 100vh; */
}

.vehmaininner{
    width: 90%;
    margin: 0 auto;
}

.top{
    display: flex;
    justify-content: right;
    /* border: 1px solid red; */
    margin-top: 60px;
}

.bell{
    width: 40px;
    height: 40px;
    background-color: #1C16160B;
    border-radius: 60px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innertop{
    width: 120px;
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.innertop span{
    height: 47px;
    width: 1px;
    background-color: #C3CDD6;
    margin-right: 13px;
}

.userpic img{
    width: 40px;
    height: 40px;
}

.midwords h2{
    font-family: InterBold;
    font-size: 25px;
}

.midwords p{
    font-family: InterReg;
    margin-top: 10px;
    color: #01133C93;
    font-size: 10px;
}

.bottom{
    margin-top: 40px;
    /* border: 1px solid black; */
    background-color: #F6F8FB;
    border-radius: 8px;
}

.bottomtop{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    height: 72px;
    width: 96%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 20px;
}

.btleft{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.btleft div{
    height: 72px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: InterReg;
    font-size: 11px;
    color: #9BA3A0;
}

.clickable{
    border-bottom: 2px solid #386CE2;
}

.clickable h4{
    color: #386CE2;
}

.btright{
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: 1px solid yellow; */
    width: 50%;
}

.search{
    width: 20px;
}

.bottombottom{
    margin-bottom: 60px;
    padding-bottom: 15px;
    /* border: 1px solid red; */
}

.takingsidebar{
    background-color: white;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 800px){
    .vehiclemain{
        display: flex;
        flex-direction: column;
    }
    .vehmain{
        width: 100%;
        height: 100%;
    }
    .btleft{
        display: flex;
        flex-direction: row;
        width: 91%;
    }
    
    .btleft div{
        height: 72px;
        /* border: 1px solid blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: InterReg;
        font-size: 9px;
        color: #9BA3A0;
    }
    .btright{
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid yellow; */
        width: 9%;
    }
}
